In [1]:
import pandas as pd
import datetime as dt

## Review of Python's `datetime` Module

In [3]:
someday = dt.date(2017, 8, 9)

In [14]:
print("day is ",someday.day)
print("month is ",someday.month)
print("year is ",someday.year)
print(str(someday))

day is  9
month is  8
year is  2017
2017-08-09

In [12]:
dt.datetime(2017, 8, 4, 12, 12,34) # year , mon, day, hr, min, sec

datetime.datetime(2017, 8, 4, 12, 12, 34)

In [13]:
str(dt.datetime(2017, 8, 4, 12, 12,34))

'2017-08-04 12:12:34'

In [15]:
sometime = dt.datetime(2017, 8, 4, 12, 12,34) # year , mon, day, hr, min, sec

In [20]:
sometime.day
sometime.month
sometime.year
sometime.hour
sometime.minute
sometime.second

34

## The `pandas Timestamp` Object

In [21]:
pd.Timestamp("2015-03-31")
pd.Timestamp("2015/03/31")
pd.Timestamp("2013, 11, 04")
pd.Timestamp("1/1/2015")
pd.Timestamp("19/12/2015")
pd.Timestamp("12/19/2015")
pd.Timestamp("4/3/2000")
pd.Timestamp("2021-03-08 08:35:15")
pd.Timestamp("2021-03-08 6:13:29 PM")

Timestamp('2021-03-08 18:13:29')

In [22]:
pd.Timestamp(dt.date(2015, 1, 1))

Timestamp('2015-01-01 00:00:00')

In [23]:
pd.Timestamp(dt.datetime(2014, 8, 14, 22, 25,25))

Timestamp('2014-08-14 22:25:25')

## The `pandas DateTimeIndex` Object

In [24]:
dates = ["2016/01/02", "2016/04/12", "2009/09/07"]
pd.DatetimeIndex(dates)

DatetimeIndex(['2016-01-02', '2016-04-12', '2009-09-07'], dtype='datetime64[ns]', freq=None)

In [25]:
dates = [dt.date(2016, 1, 10), dt.date(1994, 6, 13), dt.date(2003, 12, 29)]
dtIndex = pd.DatetimeIndex(dates)

In [26]:
values = [1001, 2400, 300]
pd.Series(data = values, index = dtIndex)

2016-01-10    1001
1994-06-13    2400
2003-12-29     300
dtype: int64

## The `pd.to_datetime()` Method

In [27]:
pd.to_datetime("2001-04-19")
pd.to_datetime(dt.date(2015, 1, 1))
pd.to_datetime(dt.datetime(2015, 1, 1, 14, 35, 20))
pd.to_datetime(["2015-01-03", "2014/02/08", "2016", "July 4th, 1996"])

DatetimeIndex(['2015-01-03', '2014-02-08', '2016-01-01', '1996-07-04'], dtype='datetime64[ns]', freq=None)

In [28]:
times = pd.Series(["2015-01-03", "2014/02/08", "2016", "July 4th, 1996"])
times

0        2015-01-03
1        2014/02/08
2              2016
3    July 4th, 1996
dtype: object

In [29]:
pd.to_datetime(times)

0   2015-01-03
1   2014-02-08
2   2016-01-01
3   1996-07-04
dtype: datetime64[ns]

In [30]:
dates = pd.Series(["July 4th, 1996", "10/04/1991", "Hello", "2015-02-31"])
dates

0    July 4th, 1996
1        10/04/1991
2             Hello
3        2015-02-31
dtype: object

In [32]:
# pd.to_datetime(dates) throws error because of string hello, and feb (where day 31 s given)
pd.to_datetime(dates,errors="coerce")

0   1996-07-04
1   1991-10-04
2          NaT
3          NaT
dtype: datetime64[ns]

## Create Range of Dates with the `pd.date_range()` Method, Part 1

In [34]:
times = pd.date_range(start = "2016-01-01", end = "2016-01-10", freq = "D")

In [35]:
print(times)

DatetimeIndex(['2016-01-01', '2016-01-02', '2016-01-03', '2016-01-04',
               '2016-01-05', '2016-01-06', '2016-01-07', '2016-01-08',
               '2016-01-09', '2016-01-10'],
              dtype='datetime64[ns]', freq='D')

In [50]:
type(times)

pandas.core.indexes.datetimes.DatetimeIndex

In [53]:
times[0]
type(times[0])

pandas._libs.tslibs.timestamps.Timestamp

In [36]:
# pd.date_range(start = "2016-01-01", end = "2016-01-10", freq = "D") # D --> 1 day
pd.date_range(start = "2016-01-01", end = "2016-01-10", freq = "2D") #frequency of 2 days

DatetimeIndex(['2016-01-01', '2016-01-03', '2016-01-05', '2016-01-07',
               '2016-01-09'],
              dtype='datetime64[ns]', freq='2D')

In [37]:
pd.date_range(start = "2016-01-01", end = "2016-01-10", freq = "B") #B - business days, skips weekends

DatetimeIndex(['2016-01-01', '2016-01-04', '2016-01-05', '2016-01-06',
               '2016-01-07', '2016-01-08'],
              dtype='datetime64[ns]', freq='B')

In [39]:
pd.date_range(start = "2016-01-01", end = "2016-01-15", freq = "W") #weekly, it considers sunday of a week as start by default

DatetimeIndex(['2016-01-03', '2016-01-10'], dtype='datetime64[ns]', freq='W-SUN')

In [42]:
pd.date_range(start = "2016-01-01", end = "2016-01-15", freq = "W-FRI")

DatetimeIndex(['2016-01-01', '2016-01-08', '2016-01-15'], dtype='datetime64[ns]', freq='W-FRI')

In [43]:
pd.date_range(start = "2016-01-01", end = "2016-01-10", freq = "H") #hours

DatetimeIndex(['2016-01-01 00:00:00', '2016-01-01 01:00:00',
               '2016-01-01 02:00:00', '2016-01-01 03:00:00',
               '2016-01-01 04:00:00', '2016-01-01 05:00:00',
               '2016-01-01 06:00:00', '2016-01-01 07:00:00',
               '2016-01-01 08:00:00', '2016-01-01 09:00:00',
               ...
               '2016-01-09 15:00:00', '2016-01-09 16:00:00',
               '2016-01-09 17:00:00', '2016-01-09 18:00:00',
               '2016-01-09 19:00:00', '2016-01-09 20:00:00',
               '2016-01-09 21:00:00', '2016-01-09 22:00:00',
               '2016-01-09 23:00:00', '2016-01-10 00:00:00'],
              dtype='datetime64[ns]', length=217, freq='H')

In [44]:
pd.date_range(start = "2016-01-01", end = "2016-01-10", freq = "7H")

DatetimeIndex(['2016-01-01 00:00:00', '2016-01-01 07:00:00',
               '2016-01-01 14:00:00', '2016-01-01 21:00:00',
               '2016-01-02 04:00:00', '2016-01-02 11:00:00',
               '2016-01-02 18:00:00', '2016-01-03 01:00:00',
               '2016-01-03 08:00:00', '2016-01-03 15:00:00',
               '2016-01-03 22:00:00', '2016-01-04 05:00:00',
               '2016-01-04 12:00:00', '2016-01-04 19:00:00',
               '2016-01-05 02:00:00', '2016-01-05 09:00:00',
               '2016-01-05 16:00:00', '2016-01-05 23:00:00',
               '2016-01-06 06:00:00', '2016-01-06 13:00:00',
               '2016-01-06 20:00:00', '2016-01-07 03:00:00',
               '2016-01-07 10:00:00', '2016-01-07 17:00:00',
               '2016-01-08 00:00:00', '2016-01-08 07:00:00',
               '2016-01-08 14:00:00', '2016-01-08 21:00:00',
               '2016-01-09 04:00:00', '2016-01-09 11:00:00',
               '2016-01-09 18:00:00'],
              dtype='datetime64[ns]', freq='7H')

In [45]:
pd.date_range(start = "2016-01-01", end = "2016-11-10", freq = "M")

DatetimeIndex(['2016-01-31', '2016-02-29', '2016-03-31', '2016-04-30',
               '2016-05-31', '2016-06-30', '2016-07-31', '2016-08-31',
               '2016-09-30', '2016-10-31'],
              dtype='datetime64[ns]', freq='M')

In [47]:
pd.date_range(start = "2016-01-01", end = "2016-11-10", freq = "MS") #month start

DatetimeIndex(['2016-01-01', '2016-02-01', '2016-03-01', '2016-04-01',
               '2016-05-01', '2016-06-01', '2016-07-01', '2016-08-01',
               '2016-09-01', '2016-10-01', '2016-11-01'],
              dtype='datetime64[ns]', freq='MS')

In [49]:
pd.date_range(start = "2016-01-01", end = "2025-11-10", freq = "A") #year end.last date of year

DatetimeIndex(['2016-12-31', '2017-12-31', '2018-12-31', '2019-12-31',
               '2020-12-31', '2021-12-31', '2022-12-31', '2023-12-31',
               '2024-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

## Create Range of Dates with the `pd.date_range()` Method, Part 2

In [55]:
pd.date_range(start="2010-12-12",periods=23,freq="D") #start on 2010-12-12 and go upto  23 days

DatetimeIndex(['2010-12-12', '2010-12-13', '2010-12-14', '2010-12-15',
               '2010-12-16', '2010-12-17', '2010-12-18', '2010-12-19',
               '2010-12-20', '2010-12-21', '2010-12-22', '2010-12-23',
               '2010-12-24', '2010-12-25', '2010-12-26', '2010-12-27',
               '2010-12-28', '2010-12-29', '2010-12-30', '2010-12-31',
               '2011-01-01', '2011-01-02', '2011-01-03'],
              dtype='datetime64[ns]', freq='D')

In [56]:
len(pd.date_range(start="2010-12-12",periods=23,freq="D"))

23

In [57]:
pd.date_range(start="2010-12-12",periods=23,freq="B")  #consider only business days excludes weekends

DatetimeIndex(['2010-12-13', '2010-12-14', '2010-12-15', '2010-12-16',
               '2010-12-17', '2010-12-20', '2010-12-21', '2010-12-22',
               '2010-12-23', '2010-12-24', '2010-12-27', '2010-12-28',
               '2010-12-29', '2010-12-30', '2010-12-31', '2011-01-03',
               '2011-01-04', '2011-01-05', '2011-01-06', '2011-01-07',
               '2011-01-10', '2011-01-11', '2011-01-12'],
              dtype='datetime64[ns]', freq='B')

In [58]:
pd.date_range(start="2010-12-12",periods=23,freq="W")  #weekly consider sunday as start by default

DatetimeIndex(['2010-12-12', '2010-12-19', '2010-12-26', '2011-01-02',
               '2011-01-09', '2011-01-16', '2011-01-23', '2011-01-30',
               '2011-02-06', '2011-02-13', '2011-02-20', '2011-02-27',
               '2011-03-06', '2011-03-13', '2011-03-20', '2011-03-27',
               '2011-04-03', '2011-04-10', '2011-04-17', '2011-04-24',
               '2011-05-01', '2011-05-08', '2011-05-15'],
              dtype='datetime64[ns]', freq='W-SUN')

In [59]:
pd.date_range(start="2010-12-12",periods=23,freq="W-MON")

DatetimeIndex(['2010-12-13', '2010-12-20', '2010-12-27', '2011-01-03',
               '2011-01-10', '2011-01-17', '2011-01-24', '2011-01-31',
               '2011-02-07', '2011-02-14', '2011-02-21', '2011-02-28',
               '2011-03-07', '2011-03-14', '2011-03-21', '2011-03-28',
               '2011-04-04', '2011-04-11', '2011-04-18', '2011-04-25',
               '2011-05-02', '2011-05-09', '2011-05-16'],
              dtype='datetime64[ns]', freq='W-MON')

In [60]:
pd.date_range(start="2010-12-12",periods=23,freq="MS")

DatetimeIndex(['2011-01-01', '2011-02-01', '2011-03-01', '2011-04-01',
               '2011-05-01', '2011-06-01', '2011-07-01', '2011-08-01',
               '2011-09-01', '2011-10-01', '2011-11-01', '2011-12-01',
               '2012-01-01', '2012-02-01', '2012-03-01', '2012-04-01',
               '2012-05-01', '2012-06-01', '2012-07-01', '2012-08-01',
               '2012-09-01', '2012-10-01', '2012-11-01'],
              dtype='datetime64[ns]', freq='MS')

In [61]:
pd.date_range(start="2010-12-12",periods=23,freq="A")

DatetimeIndex(['2010-12-31', '2011-12-31', '2012-12-31', '2013-12-31',
               '2014-12-31', '2015-12-31', '2016-12-31', '2017-12-31',
               '2018-12-31', '2019-12-31', '2020-12-31', '2021-12-31',
               '2022-12-31', '2023-12-31', '2024-12-31', '2025-12-31',
               '2026-12-31', '2027-12-31', '2028-12-31', '2029-12-31',
               '2030-12-31', '2031-12-31', '2032-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

In [62]:
pd.date_range(start="2010-12-12",periods=23,freq="5H")

DatetimeIndex(['2010-12-12 00:00:00', '2010-12-12 05:00:00',
               '2010-12-12 10:00:00', '2010-12-12 15:00:00',
               '2010-12-12 20:00:00', '2010-12-13 01:00:00',
               '2010-12-13 06:00:00', '2010-12-13 11:00:00',
               '2010-12-13 16:00:00', '2010-12-13 21:00:00',
               '2010-12-14 02:00:00', '2010-12-14 07:00:00',
               '2010-12-14 12:00:00', '2010-12-14 17:00:00',
               '2010-12-14 22:00:00', '2010-12-15 03:00:00',
               '2010-12-15 08:00:00', '2010-12-15 13:00:00',
               '2010-12-15 18:00:00', '2010-12-15 23:00:00',
               '2010-12-16 04:00:00', '2010-12-16 09:00:00',
               '2010-12-16 14:00:00'],
              dtype='datetime64[ns]', freq='5H')

## Create Range of Dates with the `pd.date_range()` Method, Part 3

In [63]:
pd.date_range(end = "1999-12-31", periods = 100, freq = "7H")

DatetimeIndex(['1999-12-02 03:00:00', '1999-12-02 10:00:00',
               '1999-12-02 17:00:00', '1999-12-03 00:00:00',
               '1999-12-03 07:00:00', '1999-12-03 14:00:00',
               '1999-12-03 21:00:00', '1999-12-04 04:00:00',
               '1999-12-04 11:00:00', '1999-12-04 18:00:00',
               '1999-12-05 01:00:00', '1999-12-05 08:00:00',
               '1999-12-05 15:00:00', '1999-12-05 22:00:00',
               '1999-12-06 05:00:00', '1999-12-06 12:00:00',
               '1999-12-06 19:00:00', '1999-12-07 02:00:00',
               '1999-12-07 09:00:00', '1999-12-07 16:00:00',
               '1999-12-07 23:00:00', '1999-12-08 06:00:00',
               '1999-12-08 13:00:00', '1999-12-08 20:00:00',
               '1999-12-09 03:00:00', '1999-12-09 10:00:00',
               '1999-12-09 17:00:00', '1999-12-10 00:00:00',
               '1999-12-10 07:00:00', '1999-12-10 14:00:00',
               '1999-12-10 21:00:00', '1999-12-11 04:00:00',
               '1999-12-11 11:00:00', '1999-12-11 18:00:00',
               '1999-12-12 01:00:00', '1999-12-12 08:00:00',
               '1999-12-12 15:00:00', '1999-12-12 22:00:00',
               '1999-12-13 05:00:00', '1999-12-13 12:00:00',
               '1999-12-13 19:00:00', '1999-12-14 02:00:00',
               '1999-12-14 09:00:00', '1999-12-14 16:00:00',
               '1999-12-14 23:00:00', '1999-12-15 06:00:00',
               '1999-12-15 13:00:00', '1999-12-15 20:00:00',
               '1999-12-16 03:00:00', '1999-12-16 10:00:00',
               '1999-12-16 17:00:00', '1999-12-17 00:00:00',
               '1999-12-17 07:00:00', '1999-12-17 14:00:00',
               '1999-12-17 21:00:00', '1999-12-18 04:00:00',
               '1999-12-18 11:00:00', '1999-12-18 18:00:00',
               '1999-12-19 01:00:00', '1999-12-19 08:00:00',
               '1999-12-19 15:00:00', '1999-12-19 22:00:00',
               '1999-12-20 05:00:00', '1999-12-20 12:00:00',
               '1999-12-20 19:00:00', '1999-12-21 02:00:00',
               '1999-12-21 09:00:00', '1999-12-21 16:00:00',
               '1999-12-21 23:00:00', '1999-12-22 06:00:00',
               '1999-12-22 13:00:00', '1999-12-22 20:00:00',
               '1999-12-23 03:00:00', '1999-12-23 10:00:00',
               '1999-12-23 17:00:00', '1999-12-24 00:00:00',
               '1999-12-24 07:00:00', '1999-12-24 14:00:00',
               '1999-12-24 21:00:00', '1999-12-25 04:00:00',
               '1999-12-25 11:00:00', '1999-12-25 18:00:00',
               '1999-12-26 01:00:00', '1999-12-26 08:00:00',
               '1999-12-26 15:00:00', '1999-12-26 22:00:00',
               '1999-12-27 05:00:00', '1999-12-27 12:00:00',
               '1999-12-27 19:00:00', '1999-12-28 02:00:00',
               '1999-12-28 09:00:00', '1999-12-28 16:00:00',
               '1999-12-28 23:00:00', '1999-12-29 06:00:00',
               '1999-12-29 13:00:00', '1999-12-29 20:00:00',
               '1999-12-30 03:00:00', '1999-12-30 10:00:00',
               '1999-12-30 17:00:00', '1999-12-31 00:00:00'],
              dtype='datetime64[ns]', freq='7H')

In [64]:
pd.date_range(end = "1999-12-31", periods = 19, freq = "B")

DatetimeIndex(['1999-12-07', '1999-12-08', '1999-12-09', '1999-12-10',
               '1999-12-13', '1999-12-14', '1999-12-15', '1999-12-16',
               '1999-12-17', '1999-12-20', '1999-12-21', '1999-12-22',
               '1999-12-23', '1999-12-24', '1999-12-27', '1999-12-28',
               '1999-12-29', '1999-12-30', '1999-12-31'],
              dtype='datetime64[ns]', freq='B')

In [65]:
pd.date_range(end = "1999-12-31", periods = 19, freq = "M")

DatetimeIndex(['1998-06-30', '1998-07-31', '1998-08-31', '1998-09-30',
               '1998-10-31', '1998-11-30', '1998-12-31', '1999-01-31',
               '1999-02-28', '1999-03-31', '1999-04-30', '1999-05-31',
               '1999-06-30', '1999-07-31', '1999-08-31', '1999-09-30',
               '1999-10-31', '1999-11-30', '1999-12-31'],
              dtype='datetime64[ns]', freq='M')

In [66]:
pd.date_range(end = "1999-12-31", periods = 19, freq = "W")

DatetimeIndex(['1999-08-22', '1999-08-29', '1999-09-05', '1999-09-12',
               '1999-09-19', '1999-09-26', '1999-10-03', '1999-10-10',
               '1999-10-17', '1999-10-24', '1999-10-31', '1999-11-07',
               '1999-11-14', '1999-11-21', '1999-11-28', '1999-12-05',
               '1999-12-12', '1999-12-19', '1999-12-26'],
              dtype='datetime64[ns]', freq='W-SUN')

## The `.dt` Accessor

In [68]:
bunch_of_dates = pd.date_range(start="2001-01-01", end="2010-12-31",freq="24D")

In [69]:
s = pd.Series(bunch_of_dates)
s.head()

0   2001-01-01
1   2001-01-25
2   2001-02-18
3   2001-03-14
4   2001-04-07
dtype: datetime64[ns]

In [71]:
s.dt.day

0       1
1      25
2      18
3      14
4       7
5       1
6      25
7      18
8      12
9       5
10     29
11     22
12     16
13      9
14      3
15     27
16     20
17     13
18      9
19      2
20     26
21     20
22     13
23      7
24     31
25     24
26     17
27     11
28      4
29     28
       ..
123    31
124    24
125    20
126    13
127     7
128    31
129    24
130    18
131    11
132     4
133    28
134    22
135    15
136     9
137     2
138    26
139    19
140    15
141     8
142     2
143    26
144    19
145    13
146     6
147    30
148    23
149    17
150    10
151     4
152    28
Length: 153, dtype: int64

In [72]:
s.dt.year

0      2001
1      2001
2      2001
3      2001
4      2001
5      2001
6      2001
7      2001
8      2001
9      2001
10     2001
11     2001
12     2001
13     2001
14     2001
15     2001
16     2002
17     2002
18     2002
19     2002
20     2002
21     2002
22     2002
23     2002
24     2002
25     2002
26     2002
27     2002
28     2002
29     2002
       ...
123    2009
124    2009
125    2009
126    2009
127    2009
128    2009
129    2009
130    2009
131    2009
132    2009
133    2009
134    2009
135    2009
136    2009
137    2010
138    2010
139    2010
140    2010
141    2010
142    2010
143    2010
144    2010
145    2010
146    2010
147    2010
148    2010
149    2010
150    2010
151    2010
152    2010
Length: 153, dtype: int64

In [75]:
# s.dt.month

In [76]:
s.dt.weekday_name

0         Monday
1       Thursday
2         Sunday
3      Wednesday
4       Saturday
5        Tuesday
6         Friday
7         Monday
8       Thursday
9         Sunday
10     Wednesday
11      Saturday
12       Tuesday
13        Friday
14        Monday
15      Thursday
16        Sunday
17     Wednesday
18      Saturday
19       Tuesday
20        Friday
21        Monday
22      Thursday
23        Sunday
24     Wednesday
25      Saturday
26       Tuesday
27        Friday
28        Monday
29      Thursday
         ...
123     Saturday
124      Tuesday
125       Friday
126       Monday
127     Thursday
128       Sunday
129    Wednesday
130     Saturday
131      Tuesday
132       Friday
133       Monday
134     Thursday
135       Sunday
136    Wednesday
137     Saturday
138      Tuesday
139       Friday
140       Monday
141     Thursday
142       Sunday
143    Wednesday
144     Saturday
145      Tuesday
146       Friday
147       Monday
148     Thursday
149       Sunday
150    Wednesday
151     Saturday
152      Tuesday
Length: 153, dtype: object

In [78]:
s[s.dt.is_quarter_end]

57   2004-09-30
95   2007-03-31
dtype: datetime64[ns]

In [80]:
mask = s.dt.is_month_start
s[mask]

0     2001-01-01
5     2001-05-01
71    2005-09-01
90    2006-12-01
109   2008-03-01
dtype: datetime64[ns]